<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs')%>
<body>
    <%- include('./partials/nav.ejs')%>
    <div class = "about content">
        <h2>About Us</h2>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure ipsa delectus, reprehenderit similique numquam aperiam necessitatibus accusamus, amet iusto est nemo facere tempore corporis quod pariatur asperiores dolorum quia.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure ipsa delectus, reprehenderit similique numquam aperiam necessitatibus accusamus, amet iusto est nemo facere tempore corporis quod pariatur asperiores dolorum quia.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure ipsa delectus, reprehenderit similique numquam aperiam necessitatibus accusamus, amet iusto est nemo facere tempore corporis quod pariatur asperiores dolorum quia.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure ipsa delectus, reprehenderit similique numquam aperiam necessitatibus accusamus, amet iusto est nemo facere tempore corporis quod pariatur asperiores dolorum quia.</p>
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Iste iure ipsa delectus, reprehenderit similique numquam aperiam necessitatibus accusamus, amet iusto est nemo facere tempore corporis quod pariatur asperiores dolorum quia.</p>
    </div>
    <%- include('./partials/footer.ejs')%>
</body>
</html>